<div class="contents">
  <%= link_to 'イベント投稿', new_event_path %>
  <p>こんな撮影会があるよ〜</p>
  <% @events.each do |event| %>
    <%= event.title %>
    <%= event.time %>
    <%= event.place %>
    <%= event.detail %><br>
  <% end %>
</div>