<div class="contents">
  <h1>詳細</h1>
  <%= @event.title %>
  <%= @event.time %>
  <%= @event.place %>
  <%= @event.detail %>
  <% if current_user %>
  <%= form_tag('/events/3/reserves', method: :post) do %>
    <input type="submit" value="参加する！">
  <% end %>
  <% end %>
  <%= link_to '戻る', events_path %>
  <h1>参加希望している人（のid）</h1>

</div>